# DSE 315 Data Science in Practice

# `Exercise`

Write a program that uses input to prompt a user for their name and then welcomes them.

In [4]:
name_input = input('Hi ! Please enter your name:')
print(f"Welcome {name_input} !")

Hi ! Please enter your name:Rita
Welcome Rita !

# `Exercise`

Write a program to prompt the user for hours and rate per hour to compute gross pay.

In [5]:
input_hours = float(input('Hi , enter the hours : '))
input_rate = float(input('Enter the Rate per hour :'))
gross_pay = input_hours * input_rate
print(f"Gross pay = {gross_pay} ")

Hi , enter the hours : 3
Enter the Rate per hour :4
Gross pay = 12.0

# `Exercise`

Assume that we execute the following assignment statements:
- width = 17
- height = 12.0

For each of the following expressions, write the value of the expression and the type (of the value of the expression). 
- width//2 
- width/2.0 
- height/3 
- 1 + 2 * 5

In [6]:
width = 17
height = 12.0

print("The value is : ", width // 2, "and the type is: " ,type(width // 2))
print("The value is : ", width / 2.0 ,"and the type is: " , type(width / 2.0))
print("The value is : ", width / 3 ,"and the type is: " , type(width / 3))
print("The value is :" , 1 + 2 * 5,"and the type is: " , type(1 + 2 * 5))

The value is :  8 and the type is:  <class 'int'>
The value is :  8.5 and the type is:  <class 'float'>
The value is :  5.666666666666667 and the type is:  <class 'float'>
The value is : 11 and the type is:  <class 'int'>

# `Exercise`

- In the below cell, print the six step process using - print- statement...
    - 1. Setting the research goal
    - 2. Retrieving Data
    - 3. Data Preparation
    - 4. Data Exploration
    - 5. Data Modeling
    - 6. Presentation and Automation

- Also comment those steps using - # - whatever you understand about the same

In [3]:
print('Data Science in Practice')
print("Data Science involves 6 step process")
#---YOUR CODE HERE ----
print('1. Setting the research goal')
#In the context of this course, Setting the research goal is a way of formulating the research area and how ML tools fit into that ambit
print('2. Retrieving Data')
#The data associated with the research area that aligns with the goals set in the first step
print('3. Data Preparation')
#Preparing data in terms of parameters, sizes so as to align with the research goals.
print('4. Data Exploration')
#Exploring data, checking out the schema like the number of columns, data type, redundancies etc.
print('5. Data Modeling')
#Analyse trends,, visualize data and fine tune derived details so as to build a sort of pipeline and model
print('6. Presentation and Automation')
#Making the above obtained model conducive and complete in the sense that it should be easy to understand and correlate with the results and statistics so obtained.

Data Science in Practice
Data Science involves 6 step process
1. Setting the research goal
2. Retrieving Data
3. Data Preparation
4. Data Exploration
5. Data Modeling
6. Presentation and Automation

# `Exercise`

##### More Variables and Printing

In [1]:
my_name = 'John Smith'
my_age = 35 # its a lie
my_height = 176 # cm
my_weight = 65 # kg
my_department = 'Humanities'
my_interests = 'Reading'
my_favorite_game = 'Cricket'

print(f"Let's talk about {my_name}.")
print(f"He's {my_height} tall.")
print(f"He's {my_weight} heavy." )
print(f"Actually that's not too heavy.")
print(f"He's from Humanities department and his interests include Reading.")
print(f"His favorite game is Cricket and plays during weekend.")
print(f"If I add 35, 176, and 65 I get 276.")
#--like the privious Print statement, write the remaining to get the output as mentioned below

Let's talk about John Smith.
He's 176 tall.
He's 65 heavy.
Actually that's not too heavy.
He's from Humanities department and his interests include Reading.
His favorite game is Cricket and plays during weekend.
If I add 35, 176, and 65 I get 276.

# `Exercise`

### Determining the Minimum and Maximum with Built-In Functions `min` and `max`

Using Built-in Fucntion find out the minimum and maximum values in this (36, 27, 12, 48)

##### This is for Practice, skip this part

In [2]:
print("." * 10) # what'd that do?

end1 = "D"
end2 = "a"
end3 = "t"
end4 = "a"
end5 = "S"
end6 = "c"
end7 = "i"
end8 = "e"
end9 = "n"
end10 = "c"
end11 = "e"

# watch that comma at the end.  try removing it to see what happens
print(end1 + end2 + end3 + end4, end = ' ')
print(end5 + end6 + end7 + end8 + end9 + end10 + end11)

print("_" * 25)

..........
Data Science
_________________________

## Activity 1

###Exercise 1: Integer and Float Types

In [9]:
a = 6
print("the type of a is: " ,type(a))
b= 6.0
print("the type of b is: " ,type(b))
c = 3.14 + 5
print("the type of c is: " ,type(c))
d= 7.999999999
print(int(d))
e= 6
print(float(e))

the type of a is:  <class 'int'>
the type of b is:  <class 'float'>
the type of c is:  <class 'float'>
7
6.0

### Exercise 2: Assigning Variables

In [11]:
x=2
x+=1
x=3.0
x+=1
print(x)

4.0

### Exercise 3: Variable Names

In [13]:
1st_number = 1
#error because variables can't start with numbers, naming convention violated

SyntaxError: ignored

In [14]:
first_number=1

In [15]:
my_$=1000.00

SyntaxError: ignored

In [16]:
my_money = 1000.00

### Exercise 4: Multiple Variables in Python

In [18]:
x=5
y=2

x+=x
y-=y^2

print(x,y)

10 2

In [19]:
x,y=8,5
z=int(x/y)
print(z)

1

### Exercise 5: Comments in Python

In [20]:
#This is a comment

In [21]:
# Set the variable pi equal to 3.14
pi=3.14

In [22]:
pi=3.14 # Set the variable pi equal to 3.14

### Exercise 6: The input() Function

In [23]:
# Choose a question to ask
print('What is your name?')

What is your name?

In [24]:
name = input(" What is your name ?")

 What is your name ?Rita

In [25]:
print ( f"Hello {name} .")

Hello Rita .

### Exercise 7: Boolean Variables

In [26]:
over_18 = True
type(over_18)

bool

### Exercise 8: Comparison Operators

In [27]:
age = 20
age<13

False

In [28]:
age >= 20 and age <= 21

True

In [29]:
age != 21

True

In [30]:
age == 19

False

In [31]:
6 == 6.0

True

In [32]:
6 == '6'

False

In [33]:
(age >= 20 and age < 30) or (age >= 30 and age < 40)

True

### Exercise 9: Using the if Syntax

In [35]:
age = 20
if age >= 18 and age < 21:
  print('At least you can vote.')
  print('Poker will have to wait.')

At least you can vote.
Poker will have to wait.

In [36]:
if age >= 18:
  print('You can vote.')
if age >= 21:
  print('You can play poker.')

You can vote.

### Exercise 10: Using the if-else Syntax

In [37]:
age = 20
if age < 18:
  print('You aren\'t old enough to vote.')
else:
  print('Welcome to our voting program.')

Welcome to our voting program.

In [38]:
if age >= 18:
  print('Welcome to our voting program.')
else:
  print('You aren\'t old enough to vote.')

Welcome to our voting program.