### This Notebook has got two parts. 
### You may want to work on the Part I first, which is at the bottom of this page. 
### Then come back to the Part II  in the top.

# Part II Problem Exercises

## Exercise 1, with List
Create a list called `years_list`, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980, the list would be `years_list = [1980, 1981, 1982, 1983, 1984, 1985]`.   ((We are NOT going to check if your year of birth in this exercise is matching with your true records.))

In which year in `years_list` was your third birthday? Remember, you were 0 years of age for your first year.

### Notes on Lists

A list is a sequence of elements ordered by their position. Duplicates are allowed. Lists provide high-performance indexed access. Since the list is a sequential data type, it possesses all the previously described operators for sequences. In addition, the following indexed, 0-based accesses and operations can be performed on lists:

`pop(i)` returns the ith element of the list and removes it from the list. By default (i. e., without specifying the index), the first element is returned.

`list[i] = element` replaces the element at position i with the passed element.

`append(element)` appends the element to the end of the list.

`insert(i, element)` inserts the element at index i in the list.

`extend(other_list)` appends the elements of other_list to the end of the list.

`count(value)` counts how many times the value value occurs in the list.

`index(value)` returns the index where the value value first occurs in the list.

`remove(value)` removes the element with the value value from the list. Only the first one will be deleted if multiple elements with this value exist. If there is no such value, a ValueError is raised.

`reverse()` reverses the order of the elements in the list.

`sort()` sorts the list in ascending order. An inverse (descending) sort is obtained with sort(reverse=True).

A list is a sequence of elements ordered by their position. Duplicates are allowed. Lists provide high-performance indexed access. Since the list is a sequential data type, it possesses all theoperators for sequences. In addition, 0-based accesses and operations can be performed on lists.

In [ ]:
years_list = [i for i in range(2001,2001+6)]
years_list

[2001, 2002, 2003, 2004, 2005, 2006]

In [ ]:
years_list[3]

2004

## Exercise 2, with List methods
Now create two lists, then add few elements, remove some elements in one of the lists, then `append` one list with another list, `reverse` the list and demonstrate the use of these methods in the lists.
For example,

`numbers = [1, 2, 3, 4]`

`names = ["Peter", "Tim", "Mike", "Tom", "Mike"]`

`names.append("Tom")`

Create such lists, experiment with these methods and print them.

In [ ]:
numbers = [1, 2, 3, 4]

names = ["Peter", "Tim", "Mike", "Tom", "Mike"]

names.append("Tom")

In [ ]:
numbers.append(names)
numbers.reverse()

In [ ]:
print(numbers)

[['Peter', 'Tim', 'Mike', 'Tom', 'Mike', 'Tom'], 4, 3, 2, 1]

## Exercise 3, with Sets
Find the common elements of two lists, A and B, and return them as a set using 'intersection' method

Examples

list1 = [1, 2, 4, 7, 8] 

list2 = [2, 3, 7, 9] 

result = {2, 7}

In [ ]:
list1 = [1, 2, 4, 7, 8]

list2 = [2, 3, 7, 9]

list(set(list1).intersection(list2))

[2, 7]

## Exercise 3: Create Dictionary
Define a dict, `menu`, that contains the items and prices in rupees on a restaurant menu

- sandwich is 45
- coffee is 22
- juice is 50
- cake is 63

In [ ]:
menu = { 'sandwich': 45 , 'coffee':22 , 'juice':50 , 'cake':63}

## Exercise 4: Odds and evens

1. Define two empty lists, `odds` and `evens`.
2. Ask the user, repeatedly, to enter a number.
     - If they enter an empty string, exit the loop
     - If they enter a non-numeric string, scold them and try again
     - Turn the user's input into an integer, and check if it's odd or even. If it's odd, add it to `odds`. If it's even, add it to `evens`.
3. After the loop, print both `odds` and `evens`.

In [ ]:
odd = []
even = []

u_input = input('Enter a number : ')
if u_input == '':
  exit
if u_input.isnumeric()== False:
  print("Please try again")
  

elif u_input.isnumeric()== True:
  num = int(u_input)
  if num%2 == 0:
    print("Number is even")
  else:
    print("Number is odd")

Enter a number : 24
Number is even

## Exercise 5: Vowels, digits, and others

1. Define a `counts` dict with three keys: `vowels`, `digits`, and `others`.  All three should have the value 0.
2. Ask the user, repeatedly, to enter a string.
    - If they enter an empty string, stop asking, and print `counts`.
3. Go through each character in the entered string, and check:
    - Is it a vowel? If so, add 1 to `counts['vowels']`
    - Is it a digit? If so, add 1 to `counts['digits']`
    - If neither, add 1 to `counts['others']`.
    
Example:

    Enter string: hello
    Enter string: bye 123
    Enter string: [ENTER]
    {'vowels':3, 'digits':3, 'others':6}

In [ ]:
counts = {'vowels':0 , 'digits':0 , 'others':0}
avowels = ('a', 'e', 'i', 'o', 'u')
inp = input('Enter a string please : ')
if inp=='':
  print(counts)
  exit

else:
  for i in str(inp):
    if i in avowels:
      counts['vowels']=counts['vowels'] + 1
    elif i.isnumeric== True:
      counts['digits'] = counts['digits'] + 1
    else:
      counts['others']= counts['others'] + 1
     
print(counts)

Enter a string please : rid
{'vowels': 1, 'digits': 0, 'others': 2}

# Part I Practice Exercises

### To make things easier, first work on the Practice Exercises given in the pdf file and enter them in cells below.

### Exercise 1

In [ ]:
shopping = ['bread' , 'milk', 'eggs']
print(shopping)

['bread', 'milk', 'eggs']

In [ ]:
i=0
for i in shopping:
  print(i)

bread
milk
eggs

In [ ]:
mixed = [365, "days", True]
print(mixed)

[365, 'days', True]

### Exercise 2 : Basic List Operations

In [ ]:
shopping = ["bread","milk", "eggs"]
print(len(shopping))

3

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]
final_list = list1 + list2
print(final_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
list3 = ['iiserb']
print(list3*3)

['iiserb', 'iiserb', 'iiserb']

### Exercise 3: Accessing an Item from Shopping List Data

In [ ]:
shopping = ["bread","milk", "eggs"]
print(shopping[1])

milk

In [ ]:
shopping[1] = "banana"

In [ ]:
print(shopping)

['bread', 'banana', 'eggs']

In [ ]:
print(shopping[-1])

eggs

In [ ]:
print(shopping[0:2])

['bread', 'banana']

In [ ]:
print(shopping[0:3])

['bread', 'banana', 'eggs']

In [ ]:
print(shopping[1:2])

['banana']

### Exercise 4: Adding Items to Our Shopping List

In [ ]:
shopping.append('apple')

In [ ]:
print(shopping)

['bread', 'banana', 'eggs', 'apple']

In [ ]:
shopping = []

In [ ]:
shopping.append('bread')
shopping.append('milk')
shopping.append('eggs')
shopping.append('apple')
print(shopping)

['bread', 'milk', 'eggs', 'apple']

In [ ]:
shopping.insert(2,'ham')
print(shopping)

['bread', 'milk', 'ham', 'eggs', 'apple']

### Exercise 5: Using a Dictionary to Store a Movie Record

In [ ]:
movie = {
"title": "The Godfather",
"director": "Francis Ford Coppola",
"year": 1972,
"rating": 9.2
}

In [ ]:
movie['year']

1972

In [ ]:
movie['rating'] = (movie['rating'] + 9.3)/2

In [ ]:
print(movie['rating'])

9.25

In [ ]:
movie = {}
movie['title'] = "The Godfather"
movie['director'] = "Francis Ford Coppola"
movie['year'] = 1972
movie['rating'] = 9.2

In [ ]:
movie['actors'] = ['Marlon Brando', 'Al Pacino', 'James Caan']

In [ ]:
movie['other_details'] = {
'runtime': 175,
'language': 'English'
}

In [ ]:
print(movie)

{'title': 'The Godfather', 'director': 'Francis Ford Coppola', 'year': 1972, 'rating': 9.2, 'actors': ['Marlon Brando', 'Al Pacino', 'James Caan'], 'other_details': {'runtime': 175, 'language': 'English'}}

### Exercise 6: Storing Company Employee Table Data Using a List and a Dictionary

In [ ]:
employees = [{"name": "John Mckee", "age":38, "department":"Sales"},{"name" : "Lisa Crawford" , "age":29 , "department" : "Marketing"}, {"name" : "Sujan Patel" , "age" : 38 , "department" : "HR"}]

In [ ]:
for key in employees:
  print(key)
  print('-'*20)

{'name': 'John Mckee', 'age': 38, 'department': 'Sales'}
--------------------
{'name': 'Lisa Crawford', 'age': 29, 'department': 'Marketing'}
--------------------
{'name': 'Sujan Patel', 'age': 38, 'department': 'HR'}
--------------------

In [ ]:
for employee in employees:

  if employee['name'] == 'Sujan Patel':
    print(employee)

{'name': 'Sujan Patel', 'age': 38, 'department': 'HR'}

### Exercise 7: Accessing a Dictionary Using Dictionary Methods

In [ ]:
orders = {'apple':5, 'orange':3, 'banana':2}
print(orders.values())
print(list(orders.values()))

dict_values([5, 3, 2])
[5, 3, 2]

In [ ]:
print(list(orders.keys()))

['apple', 'orange', 'banana']

In [ ]:
for tuple in list(orders.items()):

  print(tuple)

('apple', 5)
('orange', 3)
('banana', 2)

### Exercise 7: Exploring Tuple Properties in Our Shopping List

In [ ]:
t = ('bread', 'milk', 'eggs')
print(len(t))

3

In [ ]:
t.append('apple')
t[2] = 'apple'

AttributeError: ignored

In [ ]:
print(t + ('apple', 'orange'))
print(t)

('bread', 'milk', 'eggs', 'apple', 'orange')
('bread', 'milk', 'eggs')

In [ ]:
t_mixed = 'apple', True, 3
print(t_mixed)
t_shopping = ('apple',3), ('orange',2), ('banana',5)
print(t_shopping)

('apple', True, 3)
(('apple', 3), ('orange', 2), ('banana', 5))

### Exercise 8: Using Sets in Python

In [ ]:
s1 = set([1,2,3,4,5,6])
print(s1)
s2 = set([1,2,2,3,4,4,5,6,6])
print(s2)
s3 = set([3,4,5,6,6,6,1,1,2])
print(s3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [ ]:
s4 = {"apple", "orange", "banana"}
print(s4)

{'banana', 'orange', 'apple'}

In [ ]:
s4.add('pineapple')
print(s4)

{'banana', 'orange', 'pineapple', 'apple'}

### Exercise 9: Implementing Set Operations

In [ ]:
s5 = {1,2,3,4}
s6 = {3,4,5,6}

In [ ]:
print(s5 | s6)
print(s5.union(s6))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [ ]:
print(s5 & s6)
print(s5.intersection(s6))

{3, 4}
{3, 4}

In [ ]:
print(s5 - s6)
print(s5.difference(s6))

{1, 2}
{1, 2}

In [ ]:
print(s5 <= s6)
print(s5.issubset(s6))

s7 = {1,2,3}
s8 = {1,2,3,4,5}
print(s7 <= s8)
print(s7.issubset(s8))

False
False
True
True

In [ ]:
print(s7 < s8)
s9 = {1,2,3}
s10 = {1,2,3}
print(s9 < s10)
print(s9 < s9)

True
False
False

In [ ]:
print(s8 >= s7)
print(s8.issuperset(s7))
print(s8 > s7)
print(s8 > s8)

True
True
True
False